table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.Java {
    background-color: #ffffa0;
}

.Python {
    background-color: #84e2ae;
}

.Anglais {
    background-color: #f5a9ff;
}

.Repos {
    background-color: #f08476;
}

.Café {
    background-color: #c58a47;
}

.PHP {
    background-color: #99a8ff;
}